In [2]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython-sql) (8.4.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.41-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 16.6 MB/s eta 0:00:00
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 kB 2.2 MB/s eta 0:00:00
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3.post0-cp310-cp310-win_amd64.whl (101 kB)
     -------------------------------------- 101.9/101.9 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13695 sha256=7402d1ec1d2f2f9e1a5975bd28d52c1c1f07ee7c6c75826bcab52550dca27c31
  Stored in directory: c:\users\lyao1\appdata\local\pip\cache\wheels\25\4b\07\18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-1.1.3.post0 ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-1.4.41 sqlparse-0.4.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp310-cp310-win_amd64.whl (178 kB)
     -------------------------------------- 178.4/178.4 kB 5.4 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     --------------------------------------- 11.9/11.9 MB 36.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=247947 sha256=bee864fa022179a0687fa3ca06adb398ba502799669be6c4dc6ad6ad4b6e142f
  Stored in directory: c:\users\lyao1\appdata\local\pip\cache\wheels\76\48\9b\da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [1]:
# this library works for this mysql connection, I tried installed only mysql.connector and it's not working 
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\lyao1\anaconda3\envs\fluffy\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import libraries 

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
def create_server_connection(host_name, user_name, user_password): 
    connection = None
    try: 
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name, 
            passwd = user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
            
# Put our MySQL Terminal password
              
pw = "82112875"
              
# Database name 
db = "mysql_python"
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [5]:
# Create mysql_python

def create_database(connection, query): 
    cursor = connection.cursor()
    try: 
        cursor.execute(query)
        print("Database created successfully")
    except Error as err: 
        print(f"Error: '{err}'")
create_database_query = "Create database mysql_python"
create_database(connection, create_database_query)

Database created successfully

In [7]:
# Connect to database

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try: 
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name, 
            passwd = user_password, 
            database = db_name)
        print("MySQL database connection successful")
    except Error as err: 
        print(f"Error: '{err}'")
    return connection

In [8]:
# Execute SQL queries

def execute_query(connection, query): 
    cursor = connection.cursor()
    try: 
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err: 
        print(f"Error: '{err}'")

In [9]:
create_orders_table = """
create table orders(
order_id int primary key, 
customer_name varchar(30) not null, 
product_name varchar(20) not null, 
date_ordered date, 
quantity int, 
unit_price float, 
phone_number varchar(20)); 
"""
# Connect to the datebase
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, create_orders_table)

MySQL database connection successful
Query was successful

In [12]:
# Insert data

data_orders = """
insert into orders values 
(101, 'Steve', 'Laptop', '2018-06-12', 2, 800, '6293730802'),
(102, 'Jos', 'Books', '2019-02-10', 10, 29, '8367489124'),
(103, 'Stacy', 'Pants', '2019-12-25', 5, 59, '8976123645'),
(104, 'Nancy', 'T-shirts','2018-07-14', 7, 39, '7368145099'),
(105, 'Maria', 'Headphones', '2019-05-30', 6, 48, '8865316698'),
(106, 'Danny', 'Smart TV', '2018-08-20', 10, 399, '7720130449'); 
"""
# Connect to the datebase
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, data_orders)

MySQL database connection successful
Query was successful

In [17]:
def read_query(connection, query): 
    cursor = connection.cursor()
    result = None
    try: 
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err: 
        print(f"Error: '{err}'")

In [18]:
# Using the select statement

q1 = """
select * from orders; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
for result in results: 
    print(result)

MySQL database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 29.0, '8367489124')
(103, 'Stacy', 'Pants', datetime.date(2019, 12, 25), 5, 59.0, '8976123645')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 39.0, '7368145099')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, 399.0, '7720130449')

In [19]:
# Using the select statement

q2 = """
select customer_name, phone_number from orders; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
for result in results: 
    print(result)

MySQL database connection successful
('Steve', '6293730802')
('Jos', '8367489124')
('Stacy', '8976123645')
('Nancy', '7368145099')
('Maria', '8865316698')
('Danny', '7720130449')

In [20]:
# Using the select statement

q3 = """
select year(date_ordered) from orders; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q3)
for result in results: 
    print(result)

MySQL database connection successful
(2018,)
(2019,)
(2019,)
(2018,)
(2019,)
(2018,)

In [21]:
q4 = """
select distinct year(date_ordered) from orders; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q4)
for result in results: 
    print(result)

MySQL database connection successful
(2018,)
(2019,)

In [22]:
q5 = """
select * from orders where date_ordered < '2018-12-31'; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q5)
for result in results: 
    print(result)

MySQL database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 39.0, '7368145099')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, 399.0, '7720130449')

In [24]:
q6 = """
select * from orders where date_ordered > '2018-12-31'; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q6)
for result in results: 
    print(result)

MySQL database connection successful
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 29.0, '8367489124')
(103, 'Stacy', 'Pants', datetime.date(2019, 12, 25), 5, 59.0, '8976123645')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')

In [27]:
q7 = """
select * from orders order by unit_price asc; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q7)
for result in results: 
    print(result)

MySQL database connection successful
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 29.0, '8367489124')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 39.0, '7368145099')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')
(103, 'Stacy', 'Pants', datetime.date(2019, 12, 25), 5, 59.0, '8976123645')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, 399.0, '7720130449')
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')

In [28]:
from_db = []

for result in results : 
    result = list(result)
    from_db.append(result)
columns = ["order_id", "customer_name", "product_name", "date_ordered", "quantity", "unit_price", "phone_number"]

df = pd.DataFrame(from_db, columns = columns)

display(df)

,order_id,customer_name,product_name,date_ordered,quantity,unit_price,phone_number
0,102,Jos,Books,2019-02-10,10,29.0,8367489124
1,104,Nancy,T-shirts,2018-07-14,7,39.0,7368145099
2,105,Maria,Headphones,2019-05-30,6,48.0,8865316698
3,103,Stacy,Pants,2019-12-25,5,59.0,8976123645
4,106,Danny,Smart TV,2018-08-20,10,399.0,7720130449
5,101,Steve,Laptop,2018-06-12,2,800.0,6293730802

In [29]:
# How to use Update command

update = """
update orders 
set unit_price = 45
where order_id = 103
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

MySQL database connection successful
Query was successful

In [30]:
q8 = """
select * from orders where order_id = 103; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q8)
for result in results: 
    print(result)

MySQL database connection successful
(103, 'Stacy', 'Pants', datetime.date(2019, 12, 25), 5, 45.0, '8976123645')

In [31]:
# Delete command 

delete_order = """
delete from orders 
where order_id = 105; 
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, delete_order)

MySQL database connection successful
Query was successful

In [32]:
q9 = """
select * from orders; 
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q9)
for result in results: 
    print(result)

MySQL database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 29.0, '8367489124')
(103, 'Stacy', 'Pants', datetime.date(2019, 12, 25), 5, 45.0, '8976123645')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 39.0, '7368145099')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, 399.0, '7720130449')